# Desafio 1

#### Nome: Guilherme Oliveira Teixeira
#### RM: 346006

### Exercício 1 - Conjectura de Legendre

A Conjectura de Legendre, enunciada por de Adrien-Marie Legendre, afirma que existe sempre um número primo entre $n^2 $ e $(n+1)^2$, para qualquer $n$ inteiro positivo

Seu desafio será criar uma função que, dado um input (inteiro n) retorne todos os números primos entre $n^2$ e $(n+1)^2$. 

Exemplo:

    > input: 4
    
    > output: [17,19,23]

In [1]:
def isprime(n):
    """
    Esta função verifica se um número é ou não primo
    """
    if n == 0:
        return False
    elif n == 1:
        return False
    else:
        #caso o resto da divisão por qualquer número dentro do range de 2 até n dê 0, ele não é primo, pois números primos possuem apenas 2 divisores com resto 0(1 e ele mesmo).
        for i in range(2, n):
            if (n % i) == 0:
                return False
    return True

isprime(60)

False

### Conjectura de Legendre  $n^2$ e $(n+1)^2$

Teste com 2: $2^2$ = 4 e $(2+1)^2$ = 9

Primos = 5, 7

In [2]:
def Legendre(n):
    """
    Esta função calcula a conjectura de Legendre, como descrita acima
    """
    n2 = (n + 1)**2
    n = n**2
    
    for a in range(n, n2+1):
        if isprime(a):
            print(a)
    
Legendre(5)

29
31

### Exercício 2

Dada a seguinte string s, escreva uma expressão regular que retorne todos os números de telefone contidos nela.

In [3]:
s = 'Office of Research Administration: (734) 647-6333 | 4325 North Quad \
Office of Budget and Financial Administration: (734) 647-8044 | 309 Maynard, Suite 205 \
Health Informatics Program: (734) 763-2285 | 333 Maynard, Suite 500 \
Office of the Dean: (734) 647-3576 | 4322 North Quad \
UMSI Engagement Center: (734) 763-1251 | 777 North University \
Faculty Adminstrative Support Staff: (734) 764-9376 | 4322 North Quad'

In [4]:
import re

telefones = re.findall('\(.{13}', s)
print(telefones)

#or

telefones = re.findall('\: (.+?) \|', s)
print(telefones)

['(734) 647-6333', '(734) 647-8044', '(734) 763-2285', '(734) 647-3576', '(734) 763-1251', '(734) 764-9376']
['(734) 647-6333', '(734) 647-8044', '(734) 763-2285', '(734) 647-3576', '(734) 763-1251', '(734) 764-9376']

### Exercício 3
A distância L2, ou distância Euclidiana, é definida pela seguinte fórmula: 

$L2 = \sqrt{\sum_{i=1}^n (a_i - b_i)^2}$

Escreva uma função que receba dois parâmetros, a e b, e retorne a distância L2 entre eles. a e b precisam ser um numpy.array de mesmo tamanho

In [5]:
import numpy as np
def l2_dist(a, b):
    l2 = np.linalg.norm(a - b)
    return l2

In [6]:
import numpy as np
a = np.array([11,25,38])
b = np.array([12,34,43])
l2_dist(a,b)

10.344080432788601

### Exercício 4
Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [7]:
import pandas as pd
import numpy as np

In [8]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('bases/breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

#### TODO 2.1: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

In [9]:
# quantas linhas e quantas colunas existem no dataset?
shape = data.shape
print('formato: ', shape, '\n')
print('#'*100)
# quais os tipos de dados de cada coluna?
typ = data.info()
print('tipos de dados: ', typ,'\n')
print('#'*100)
# quais as principais estatísticas dos dados numéricos do dataset?
stats = data.describe()
print('principais estatísticas: ', '\n', stats, '\n')
print('#'*100)

formato:  (699, 12)

####################################################################################################
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     699 non-null    int64
 1   clump_thickness        698 non-null    float64
 2   cell_size_uniformity   698 non-null    float64
 3   cell_shape_uniformity  699 non-null    int64
 4   marginal_adhesion      699 non-null    int64
 5   single_ep_cell_size    699 non-null    int64
 6   bare_nuclei            697 non-null    object
 7   bland_chromatin        695 non-null    float64
 8   normal_nucleoli        698 non-null    float64
 9   mitoses                699 non-null    int64
 10  class                  699 non-null    object
 11  doctor_name            699 non-null    object
dtypes: float64(4), int64(5), object(3)
memory usage: 65.7+ KB
tipos de dados:  None

####################################################################################################
principais estatísticas:
                  id  clump_thickness  cell_size_uniformity  \
count  6.990000e+02       698.000000            698.000000
mean   1.071704e+06         4.416905              3.137536
std    6.170957e+05         2.817673              3.052575
min    6.163400e+04         1.000000              1.000000
25%    8.706885e+05         2.000000              1.000000
50%    1.171710e+06         4.000000              1.000000
75%    1.238298e+06         6.000000              5.000000
max    1.345435e+07        10.000000             10.000000

       cell_shape_uniformity  marginal_adhesion  single_ep_cell_size  \
count             699.000000         699.000000           699.000000
mean                3.207439           2.793991             3.216023
std                 2.971913           2.843163             2.214300
min                 1.000000           1.000000             1.000000
25%                 1.000000           1.000000             2.000000
50%                 1.000000           1.000000             2.000000
75%                 5.000000           3.500000             4.000000
max                10.000000          10.000000            10.000000

       bland_chromatin  normal_nucleoli     mitoses
count       695.000000       698.000000  699.000000
mean          3.447482         2.868195    1.589413
std           2.441191         3.055647    1.715078
min           1.000000         1.000000    1.000000
25%           2.000000         1.000000    1.000000
50%           3.000000         1.000000    1.000000
75%           5.000000         4.000000    1.000000
max          10.000000        10.000000   10.000000

####################################################################################################

#### TODO 2.2: obtendo informações sobre o dataset

retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra:

In [ ]:
# Exemplo de retorno
#  class      doctor_name
#  benign   Dr. Doe        127
#           Dr. Lee        121
#           Dr. Smith      102
#           Dr. Wong       108

In [10]:
# Resposta: 


data1 = pd.DataFrame(data)

counts = data1.groupby(["class", "doctor_name"])["class"].count()

print(counts)

class      doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Smith      102
           Dr. Wong       108
malignant  Dr. Doe         58
           Dr. Lee         60
           Dr. Smith       74
           Dr. Wong        49
Name: class, dtype: int64

#### TODO 2.3: obtendo informações sobre o dataset

In [11]:
# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num
data_num = data1.select_dtypes(include=['float64','int64'])
#corr
# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 
corr_data1 = data1.corr()['clump_thickness']
data_num = [col for col, val in zip(corr_data1.index, corr_data1.values) if abs(val) >= 0.5 and col != 'clump_thickness']

# retorne os valores de forma descendente
data_num.sort(reverse=True)

# sempre utilize a variável data_num para receber o resultado de suas operações

print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

Existem 5 variáveis correlacionadas com clump_thickness:
['single_ep_cell_size', 'normal_nucleoli', 'cell_size_uniformity', 'cell_shape_uniformity', 'bland_chromatin']

#### TODO 2.4: obtendo informações sobre o dataset

#### Add Guilherme

In [12]:
print('Tamanho médio de ambos: ', data1.groupby('class')['cell_size_uniformity'].mean(),'\n')

Tamanho médio de ambos:  class
benign       1.326039
malignant    6.572614
Name: cell_size_uniformity, dtype: float64

In [13]:
# qual o tamanho médio das células para cada tipo de tumor?
print('Tamanho médio do tipo benigno: ', data1.loc[data1['class'] == 'benign', 'cell_size_uniformity'].mean(),'\n')
print('Tamanho médio do tipo maligno: ', data1.loc[data1['class'] == 'malignant', 'cell_size_uniformity'].mean(),'\n')

# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?
print('Número máximo de mitoses em tumores benignos: ', data1.loc[(data1['doctor_name'] == 'Dr. Wong') & (data1['class'] == 'benign'), 'mitoses'].max())

# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
print('\nNúmero máximo de mitoses em tumores malignos: ',data1.loc[(data1['doctor_name'] == 'Dr. Wong') & (data1['class'] == 'malignant'), 'mitoses'].max())

Tamanho médio do tipo benigno:  1.3260393873085339

Tamanho médio do tipo maligno:  6.572614107883817

Número máximo de mitoses em tumores benignos:  3

Número máximo de mitoses em tumores malignos:  10

#### TODO 2.5: filtrando os dados

In [14]:
# Existem três pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset
repeated_patients = data1.id.value_counts().reset_index(name="id").query("id > 2")["index"]
# Elimine esses três pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
filtered_patients = data1.drop(data1[data1['id'] == 1182404].index, inplace = True)
filtered_patients = data1.drop(data1[data1['id'] == 1276091].index, inplace = True)
filtered_patients = data1.drop(data1[data1['id'] == 1198641].index, inplace = True)
#retorne o dataset completo
filtered_data = data1.copy()
#filtered_data

In [15]:
# testing
filtered_data.id.value_counts().reset_index(name="id").query("id > 2")["index"]

Series([], Name: index, dtype: int64)